coop-kenya/bw6-coop-code/ServiceTemplates/BW/TechnicalServices/LIB_TSServiceTemplate.module/Service Descriptors/CommonServices/TS/BACKEND/OPERATION/TSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:extns="http://www.example.org/schema/1519743994948" xmlns:tns="http://www.example.org/wsdl/1519743994673" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TSService" targetNamespace="http://www.example.org/wsdl/1519743994673" xmlns:xsd1="urn://co-opbank.co.ke/CommonServices/Data/Event/Fault">
  <xsd:import
  			namespace="urn://co-opbank.co.ke/CommonServices/Data/Event/Fault"
  			schemaLocation="../../../../XML/LIB_XML/Schemas/CommonServices/Data/Event/1.0/Fault.xsd"></xsd:import>
  <wsdl:types>
  	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  		<xsd:import
  			namespace="urn://co-opbank.co.ke/CommonServices/Data/Event/Fault"
  			schemaLocation="../../../../../XML/LIB_XML/Schemas/CommonServices/Data/Event/1.0/Fault.xsd">
  		</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="operationRequest">
    <wsdl:part element="extns:operationRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="operationResponse">
    <wsdl:part element="extns:operationResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="BusinessFault">
		<wsdl:part element="xsd1:BusinessFault" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="TechnicalFault">
		<wsdl:part element="xsd1:TechnicalFault" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="ValidationFault">
		<wsdl:part element="xsd1:ValidationFault" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="Fault">
		<wsdl:part element="xsd1:Fault" name="parameters"/>
	</wsdl:message>
  
  <wsdl:portType name="TSServiceName">
    <wsdl:operation name="operation">
      <wsdl:input message="tns:operationRequest" name="operationInput"/>
      <wsdl:output message="tns:operationResponse" name="operationOutput"/>
      <wsdl:fault message="tns:BusinessFault" name="BusinessFault"/>
			<wsdl:fault message="tns:TechnicalFault" name="TechnicalFault"/>
			<wsdl:fault message="tns:ValidationFault" name="ValidationFault"/>
			<wsdl:fault message="tns:Fault" name="Fault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
