coop-kenya/bw6-coop-code/BW/BusinessServices/APP_BS_Example.module/Service Descriptors/CommonServices/BS/BackEnd/ServiceName/Example.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:extns="http://www.example.org/schema/1516364026662" xmlns:fault="urn://co-opbank.co.ke/CommonServices/Data/Event/Fault" xmlns:part="urn://co-opbank.co.ke/CommonServices/BS/BackEnd/Servicename/Types" xmlns:svr="urn://co-opbank.co.ke/CommonServices/BS/General/Example" xmlns:tns="urn://co-opbank.co.ke/CommonServices/BS/General" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceName" targetNamespace="urn://co-opbank.co.ke/CommonServices/BS/General">
	
    <wsdl:import namespace="http://www.example.org/schema/1516364026662"/>
    <wsdl:import namespace="urn://co-opbank.co.ke/CommonServices/BS/General/Example"/>
    <wsdl:types>
		<xsd:schema targetNamespace="urn://co-opbank.co.ke/CommonServices/BS/BackEnd/Servicename/Types">

            <xsd:element name="ExampleRefRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="ExampleRefResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
		<xsd:schema xmlns:svr1="urn://co-opbank.co.ke/CommonServices/TS/CI/Data/Message/AdapterPlan">
			<xsd:import namespace="urn://co-opbank.co.ke/CommonServices/Data/Event/Fault" schemaLocation="../../../../../../../../../SourceControl/XML/LIB_XML/Schemas/CommonServices/Data/Event/Fault.xsd">
			</xsd:import>
			<xsd:import namespace="urn://co-opbank.co.ke/CommonServices/BS/General/Example" schemaLocation="../../../../../Schemas/CommonServices/Message/BS/BackEnd/ServiceName/Example.xsd">
			</xsd:import>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="ExampleRequest">
		<wsdl:part element="svr:ExampleRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="ExampleResponse">
		<wsdl:part element="svr:ExampleResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="BusinessFault">
		<wsdl:part element="fault:BusinessFault" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="TechnicalFault">
		<wsdl:part element="fault:TechnicalFault" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="ValidationFault">
		<wsdl:part element="fault:ValidationFault" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="Fault">
		<wsdl:part element="fault:Fault" name="parameters"/>
	</wsdl:message>
    <wsdl:message name="operationRequest">
    <wsdl:part element="extns:operationRequest" name="parameters"/>
  </wsdl:message>
    <wsdl:message name="operationResponse">
    <wsdl:part element="extns:operationResponse" name="parameters"/>
  </wsdl:message>
    <wsdl:message name="ExampleRefRequest">
    <wsdl:part element="part:ExampleRefRequest" name="parameters"/>
  </wsdl:message>
    <wsdl:message name="ExampleRefResponse">
    <wsdl:part element="part:ExampleRefResponse" name="parameters"/>
  </wsdl:message>
    <wsdl:portType name="Example">
		<wsdl:operation name="ExampleOp">
			<wsdl:input message="tns:ExampleRequest"/>
			<wsdl:output message="tns:ExampleResponse"/>
			<wsdl:fault message="tns:BusinessFault" name="BusinessFault"/>
			<wsdl:fault message="tns:TechnicalFault" name="TechnicalFault"/>
			<wsdl:fault message="tns:ValidationFault" name="ValidationFault"/>
			<wsdl:fault message="tns:Fault" name="Fault"/>
		</wsdl:operation>
	</wsdl:portType>
    <wsdl:portType name="example">
    <wsdl:operation name="operation">
      <wsdl:input message="tns:operationRequest" name="operationInput"/>
      <wsdl:output message="tns:operationResponse" name="operationOutput"/>
    </wsdl:operation>
  </wsdl:portType>
    <wsdl:portType name="Example1">
    <wsdl:operation name="ExampleRef">
      <wsdl:input message="tns:ExampleRefRequest" name="ExampleRefInput"/>
      <wsdl:output message="tns:ExampleRefResponse" name="ExampleRefOutput"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
