coop-kenya/bw6-coop-code/BW/BusinessServices/APP_BS_Example.module/Service Descriptors/CommonServices/BS/BackEnd/ServiceName/ServiceName.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:fault="urn://co-opbank.co.ke/CommonServices/Data/Event/Fault" xmlns:svr="urn://co-opbank.co.ke/CommonServices/TS/CI/Data/Message/AdapterPlan" xmlns:tns="urn://co-opbank.co.ke/CommonServices/BS/BackEnd/Servicename" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceName" targetNamespace="urn://co-opbank.co.ke/CommonServices/BS/BackEnd/Servicename">
	
	<wsdl:types>
		<xsd:schema targetNamespace="urn://co-opbank.co.ke/CommonServices/BS/BackEnd/Servicename/Types">

		</xsd:schema>
		<xsd:schema xmlns:svr1="urn://co-opbank.co.ke/CommonServices/TS/CI/Data/Message/AdapterPlan">
			<xsd:import namespace="urn://co-opbank.co.ke/CommonServices/Data/Event/Fault" schemaLocation="../../../../../../../../../SourceControl/XML/LIB_XML/Schemas/CommonServices/Data/Event/Fault.xsd">
			</xsd:import>
			<xsd:import namespace="urn://co-opbank.co.ke/CommonServices/BS/BackEnd/Data/Message/ServiceName" schemaLocation="../../../../../Schemas/CommonServices/Message/BS/BackEnd/ServiceName/ServiceName.xsd">
			</xsd:import>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="ServiceNameRequest">
		<wsdl:part element="svr:ServiceNameRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="ServiceNameResponse">
		<wsdl:part element="svr:ServiceNameResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="BusinessFault">
		<wsdl:part element="fault:BusinessFault" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="TechnicalFault">
		<wsdl:part element="fault:TechnicalFault" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="ValidationFault">
		<wsdl:part element="fault:ValidationFault" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="Fault">
		<wsdl:part element="fault:Fault" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="ServiceName">
		<wsdl:operation name="ServiceName">
			<wsdl:input message="tns:ServiceNameRequest"/>
			<wsdl:output message="tns:ServiceNameResponse"/>
			<wsdl:fault message="tns:BusinessFault" name="BusinessFault"/>
			<wsdl:fault message="tns:TechnicalFault" name="TechnicalFault"/>
			<wsdl:fault message="tns:ValidationFault" name="ValidationFault"/>
			<wsdl:fault message="tns:Fault" name="Fault"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
