BW/TechnicalServices/APP_TSDemoGetData.module/Service Descriptors/DemoGetData.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="TSService" targetNamespace="http://www.co-op.co.ke/demo/getdata" 
xmlns:tns="http://www.co-op.co.ke/demo/getdata" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:xsd2="urn://co-opbank.co.ke/demo/getdata" xmlns:xsd1="urn://co-opbank.co.ke/CommonServices/Data/Event/Fault">
  <wsdl:types>
  	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  		<xsd:import namespace="urn://co-opbank.co.ke/demo/getdata"
  			schemaLocation="../Schemas/TSDemoGetData.xsd">
  		</xsd:import>
  		<xsd:import
  			namespace="urn://co-opbank.co.ke/CommonServices/Data/Event/Fault"
  			schemaLocation="../../../../XML/LIB_XML/Schemas/CommonServices/Data/Event/1.0/Fault.xsd">
  		</xsd:import></xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="GetDataRequest">
    <wsdl:part element="xsd2:GetDataRequest" name="parameters" />
  </wsdl:message>
  <wsdl:message name="GetDataResponse">
    <wsdl:part element="xsd2:GetDataResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="BusinessFault">
		<wsdl:part element="xsd1:BusinessFault" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="TechnicalFault">
		<wsdl:part element="xsd1:TechnicalFault" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="ValidationFault">
		<wsdl:part element="xsd1:ValidationFault" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="Fault">
		<wsdl:part element="xsd1:Fault" name="parameters"/>
	</wsdl:message>
  
  <wsdl:portType name="DemoGetData">
    <wsdl:operation name="GetAccountData">
      <wsdl:input message="tns:GetDataRequest" name="GetDataRequest"/>
      <wsdl:output message="tns:GetDataResponse" name="GetDataResponse"/>
      <wsdl:fault message="tns:BusinessFault" name="BusinessFault"/>
			<wsdl:fault message="tns:TechnicalFault" name="TechnicalFault"/>
			<wsdl:fault message="tns:ValidationFault" name="ValidationFault"/>
			<wsdl:fault message="tns:Fault" name="Fault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
