coop-kenya/bw6-coop-code/BW/BusinessServices/APP_BS_Example.module/Example_gen1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:ns="urn://co-opbank.co.ke/CommonServices/BS/General" xmlns:ns0="urn://co-opbank.co.ke/CommonServices/Data/Event/Fault" xmlns:ns01="urn://co-opbank.co.ke/CommonServices/Data/Message/MessageHeader" xmlns:ns012="urn://co-opbank.co.ke/CommonServices/Data/Common" xmlns:ns0123="urn://co-opbank.co.ke/CommonServices/BS/General/Example" xmlns:ns01234="urn://co-opbank.co.ke/CommonServices/Data/Internal/RuntimeContext" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Example" targetNamespace="urn://co-opbank.co.ke/CommonServices/BS/General">
  <wsdl:types>
    <xsd:schema xmlns:com="urn://co-opbank.co.ke/CommonServices/Data/Common" xmlns:head="urn://co-opbank.co.ke/CommonServices/Data/Message/MessageHeader" xmlns:rctx="urn://co-opbank.co.ke/CommonServices/Data/Internal/RuntimeContext" xmlns:tns="urn://co-opbank.co.ke/CommonServices/Data/Event/Fault" elementFormDefault="qualified" targetNamespace="urn://co-opbank.co.ke/CommonServices/Data/Event/Fault">
      <xsd:import namespace="urn://co-opbank.co.ke/CommonServices/Data/Message/MessageHeader"/>
      <xsd:import namespace="urn://co-opbank.co.ke/CommonServices/Data/Internal/RuntimeContext"/>
      <xsd:import namespace="urn://co-opbank.co.ke/CommonServices/Data/Common"/>
      <xsd:element name="Application" type="xsd:string"/>
      <xsd:element name="ExceptionDescription" type="xsd:string"/>
      <xsd:element name="ExceptionDetails" type="xsd:string"/>
      <xsd:element name="FaultDetails" type="tns:FaultDetailsType"/>
      <xsd:element name="ExceptionId" type="xsd:string"/>
      <xsd:element name="ExceptionCode" type="xsd:string"/>
      <xsd:element name="ExceptionName" type="xsd:string"/>
      <xsd:element name="ExceptionTimestamp" type="xsd:dateTime"/>
      <xsd:element name="Fault" type="tns:FaultType"/>
      <xsd:element name="FaultContext" type="tns:FaultContextType"/>
      <xsd:element name="FaultHeader" type="head:ResponseHeaderType"/>
      <xsd:element name="Hostname" type="xsd:string"/>
      <xsd:element name="Instance" type="xsd:string"/>
      <xsd:element name="Severity" type="xsd:string"/>
      <xsd:element name="ValidationFault" type="tns:FaultType"/>
      <xsd:element name="TechnicalFault" type="tns:FaultType"/>
      <xsd:element name="BusinessFault" type="tns:FaultType"/>
      <xsd:element name="ActivityName" type="xsd:string"/>
      <xsd:element name="Msg" type="xsd:string"/>
      <xsd:element name="MsgCode" type="xsd:string"/>
      <xsd:element name="ProcessStack" type="xsd:string"/>
      <xsd:element name="StackTrace" type="xsd:string"/>
      <xsd:complexType name="FaultType">
        <xsd:sequence>
          <xsd:element minOccurs="1" ref="tns:FaultHeader"/>
          <xsd:element minOccurs="0" ref="tns:Severity"/>
          <xsd:element minOccurs="1" ref="tns:ExceptionId"/>
          <xsd:element minOccurs="1" ref="tns:ExceptionTimestamp"/>
          <xsd:element minOccurs="1" ref="tns:ExceptionCode"/>
          <xsd:element minOccurs="0" ref="tns:ExceptionName"/>
          <xsd:element minOccurs="0" ref="tns:ExceptionDescription"/>
          <xsd:element minOccurs="0" ref="tns:ExceptionDetails"/>
          <xsd:element minOccurs="0" ref="tns:FaultDetails"/>
          <xsd:element minOccurs="0" ref="rctx:RuntimeContext"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="com:Payload"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FaultContextType">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="tns:Hostname"/>
          <xsd:element minOccurs="0" ref="tns:Application"/>
          <xsd:element minOccurs="0" ref="tns:Instance"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FaultDetailsType">
        <xsd:sequence>
          <xsd:element ref="tns:ActivityName"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Data">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:any maxOccurs="1" minOccurs="0" processContents="skip"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element ref="tns:Msg"/>
          <xsd:element ref="tns:MsgCode"/>
          <xsd:element ref="tns:ProcessStack"/>
          <xsd:element ref="tns:StackTrace"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FaultListType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:Fault"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:com="urn://co-opbank.co.ke/CommonServices/Data/Common" xmlns:head="urn://co-opbank.co.ke/CommonServices/Data/Message/MessageHeader" elementFormDefault="qualified" targetNamespace="urn://co-opbank.co.ke/CommonServices/Data/Message/MessageHeader">
      <xsd:import namespace="urn://co-opbank.co.ke/CommonServices/Data/Common"/>
      <xsd:element name="ApplicationVersion" type="xsd:string"/>
      <xsd:element name="AuthenticationHeader" type="head:AuthenticationHeaderType"/>
      <xsd:element name="Channel">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Address" type="xsd:string"/>
      <xsd:element name="Name" type="xsd:string"/>
      <xsd:element name="Domain" type="xsd:string"/>
      <xsd:element name="InstanceId" type="xsd:string"/>
      <xsd:element name="RequestDateTime" type="xsd:dateTime"/>
      <xsd:element name="RequestHeader" type="head:RequestHeaderType"/>
      <xsd:element name="ResponseCode" type="xsd:string"/>
      <xsd:element name="ResponseHeader" type="head:ResponseHeaderType"/>
      <xsd:element name="ResponseDateTime" type="xsd:dateTime"/>
      <xsd:element name="Source" type="head:SourceType"/>
      <xsd:element name="Version" type="xsd:string"/>
      <xsd:element name="MIContext" type="xsd:string"/>
      <xsd:element name="User" type="xsd:string"/>
      <xsd:complexType name="RequestHeaderType">
        <xsd:sequence>
          <xsd:element minOccurs="1" ref="com:CorrelationId"/>
          <xsd:element minOccurs="0" ref="com:SessionId"/>
          <xsd:element minOccurs="0" ref="com:CustomerId"/>
          <xsd:element minOccurs="1" ref="head:RequestDateTime"/>
          <xsd:element minOccurs="1" ref="com:OrganisationId"/>
          <xsd:element minOccurs="1" ref="com:SenderSystemId"/>
          <xsd:element minOccurs="1" ref="head:Source"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ResponseHeaderType">
        <xsd:sequence>
          <xsd:element minOccurs="1" ref="com:CorrelationId"/>
          <xsd:element minOccurs="0" ref="com:SessionId"/>
          <xsd:element minOccurs="0" ref="com:CustomerId"/>
          <xsd:element minOccurs="1" ref="head:ResponseDateTime"/>
          <xsd:element minOccurs="1" ref="com:OrganisationId"/>
          <xsd:element minOccurs="1" ref="com:SenderSystemId"/>
          <xsd:element minOccurs="1" ref="head:Source"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AuthenticationHeaderType">
        <xsd:sequence>
          <xsd:element minOccurs="1" name="Username" type="xsd:string"/>
          <xsd:element minOccurs="1" name="Password" type="xsd:string"/>
          <xsd:element minOccurs="0" name="PasswordType" type="head:PasswordTypeType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="PasswordTypeType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Plain Text"/>
          <xsd:enumeration value="Encrypted"/>
          <xsd:enumeration value="X509 Certificate"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="SourceType">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="head:Domain"/>
          <xsd:element minOccurs="1" ref="head:Channel"/>
          <xsd:element minOccurs="0" ref="head:Name"/>
          <xsd:element minOccurs="0" ref="head:Address"/>
          <xsd:element minOccurs="0" ref="head:InstanceId"/>
          <xsd:element minOccurs="0" ref="head:ApplicationVersion"/>
          <xsd:element minOccurs="0" ref="head:User"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:tns="urn://co-opbank.co.ke/CommonServices/Data/Common" elementFormDefault="qualified" targetNamespace="urn://co-opbank.co.ke/CommonServices/Data/Common">
      <xsd:element name="CorrelationId" type="xsd:string"/>
      <xsd:element name="CustomerId">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:length value="9"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Domain" type="xsd:string"/>
      <xsd:element name="OrganisationId" type="xsd:string"/>
      <xsd:element name="Payload" type="tns:PayloadType"/>
      <xsd:element name="SessionId" type="xsd:string"/>
      <xsd:element name="XmlString" type="xsd:string"/>
      <xsd:element name="SenderSystemId">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:complexType name="PayloadType">
        <xsd:sequence>
          <xsd:any minOccurs="0" namespace="##any" processContents="skip"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PayloadTextType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="tns:XmlString"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:head="urn://co-opbank.co.ke/CommonServices/Data/Message/MessageHeader" xmlns:tns="urn://co-opbank.co.ke/CommonServices/BS/General/Example" elementFormDefault="qualified" targetNamespace="urn://co-opbank.co.ke/CommonServices/BS/General/Example">
      <xsd:import namespace="urn://co-opbank.co.ke/CommonServices/Data/Message/MessageHeader"/>
      <xsd:element name="ExampleRequest" type="tns:ExampleRequestType"/>
      <xsd:element name="ExampleResponse" type="tns:ExampleResponseType"/>
      <xsd:element name="ExampleReqData" type="xsd:string"/>
      <xsd:element name="ExampleRespData" type="xsd:string"/>
      <xsd:complexType name="ExampleRequestType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="head:RequestHeader"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="tns:ExampleReqData"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ExampleResponseType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="head:ResponseHeader"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="tns:ExampleRespData"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:tns="urn://co-opbank.co.ke/CommonServices/Data/Internal/RuntimeContext" elementFormDefault="qualified" targetNamespace="urn://co-opbank.co.ke/CommonServices/Data/Internal/RuntimeContext">
      <xsd:element name="RuntimeContext" type="tns:RuntimeContextType"/>
      <xsd:element name="ServiceName" type="xsd:string"/>
      <xsd:element name="Application" type="xsd:string"/>
      <xsd:element name="ApplicationVersion" type="xsd:string"/>
      <xsd:element name="AppNode" type="xsd:string"/>
      <xsd:element name="Hostname" type="xsd:string"/>
      <xsd:complexType name="RuntimeContextType">
        <xsd:sequence>
          <xsd:element ref="tns:ServiceName"/>
          <xsd:element ref="tns:Application"/>
          <xsd:element ref="tns:ApplicationVersion"/>
          <xsd:element ref="tns:AppNode"/>
          <xsd:element ref="tns:Hostname"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ExampleRequest">
    <wsdl:part element="ns0123:ExampleRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ExampleResponse">
    <wsdl:part element="ns0123:ExampleResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="TechnicalFault">
    <wsdl:part element="ns0:TechnicalFault" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ValidationFault">
    <wsdl:part element="ns0:ValidationFault" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BusinessFault">
    <wsdl:part element="ns0:BusinessFault" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="Fault">
    <wsdl:part element="ns0:Fault" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Example">
    <wsdl:operation name="ExampleOp">
      <wsdl:input message="ns:ExampleRequest"/>
      <wsdl:output message="ns:ExampleResponse"/>
      <wsdl:fault message="ns:TechnicalFault" name="TechnicalFault"/>
      <wsdl:fault message="ns:ValidationFault" name="ValidationFault"/>
      <wsdl:fault message="ns:BusinessFault" name="BusinessFault"/>
      <wsdl:fault message="ns:Fault" name="Fault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExampleSOAPBinding" type="ns:Example">
    <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
    <jms:binding messageFormat="bytes"/>
    <wsdl:operation name="ExampleOp">
      <soap:operation soapAction="ExampleOp" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessFault">
        <soap:fault name="BusinessFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="TechnicalFault">
        <soap:fault name="TechnicalFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ValidationFault">
        <soap:fault name="ValidationFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Example">
    <wsdl:port binding="ns:ExampleSOAPBinding" name="ExampleSOAP">
      <soap:address location=""/>
      <jms:connectionFactory/>
      <jms:targetAddress destination="queue">QueueConnectionFactory</jms:targetAddress>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
