coop-kenya/bw6-coop-code/BW/TechnicalServices/APP_TSGEN_Customer.module/Service Descriptors/TSCustomer.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:extns="urn://co-opbank.co.ke/CommonServices/Data/Message/MessageHeader"
	xmlns:fault="urn://co-opbank.co.ke/CommonServices/Data/Event/Fault"
	xmlns:extns1="http://www.example.org/schema/1519731689261"
	xmlns:extns2="http://www.example.org/schema/1519733337492" xmlns:tns="http://www.example.org/wsdl/1519726465972"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="TSCustomer" targetNamespace="http://www.example.org/wsdl/1519726465972">
	<wsdl:import namespace="http://www.example.org/schema/1519726466051" />

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="urn://co-opbank.co.ke/CommonServices/Data/Event/Fault"
				schemaLocation="../../../../XML/LIB_XML/Schemas/CommonServices/Data/Event/1.0/Fault.xsd">
			</xsd:import>
			<xsd:import
				namespace="http://www.example.org/schema/1519731689261"
				schemaLocation="../Schemas/TSCustomerSchema1.xsd">
			</xsd:import></xsd:schema>
	</wsdl:types>
	<wsdl:message name="ServiceNameRequest">
		<wsdl:part element="extns1:GetCustomerDetailRequest"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="ServiceNameResponse">
		<wsdl:part element="extns1:GetCustomerDetailResponse"
			name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="BusinessFault">
		<wsdl:part element="fault:BusinessFault" name="parameters" />
	</wsdl:message>
	<wsdl:message name="TechnicalFault">
		<wsdl:part element="fault:TechnicalFault" name="parameters" />
	</wsdl:message>
	<wsdl:message name="ValidationFault">
		<wsdl:part element="fault:ValidationFault" name="parameters" />
	</wsdl:message>
	<wsdl:message name="Fault">
		<wsdl:part element="fault:Fault" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="GetCustomerDetail">
		<wsdl:operation name="GetCustomerDetail">
			<wsdl:input message="tns:ServiceNameRequest" name="GetCustomerDetailInput" />
			<wsdl:output message="tns:ServiceNameResponse"
				name="GetCustomerDetailOutput" />
			<wsdl:fault message="tns:BusinessFault" name="BusinessFault" />
			<wsdl:fault message="tns:TechnicalFault" name="TechnicalFault" />
			<wsdl:fault message="tns:ValidationFault" name="ValidationFault" />
			<wsdl:fault message="tns:Fault" name="Fault" />
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
