coop-kenya/bw6-coop-code/BW/TechnicalServices/APP_TSAccount_GetAccountBalance.module/Service Descriptors/CommonServices/TS/BFUB/GetAccountBalance/GetAccountBalance.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:fault="urn://co-opbank.co.ke/CommonServices/Data/Event/Fault" xmlns:part="urn://co-opbank.co.ke/CommonServices/BS/BackEnd/Servicename/Types" xmlns:svr="urn://co-opbank.co.ke/CommonServices/TS/BFUB/Data/Message/GetAccountBalance" xmlns:tns="urn://co-opbank.co.ke/CommonServices/BS/BackEnd/Servicename" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceName" targetNamespace="urn://co-opbank.co.ke/CommonServices/BS/BackEnd/Servicename">
	
    <wsdl:types>
		<xsd:schema xmlns:svr1="urn://co-opbank.co.ke/CommonServices/TS/CI/Data/Message/AdapterPlan">
			<xsd:import namespace="urn://co-opbank.co.ke/CommonServices/Data/Event/Fault" schemaLocation="../../../../../../../../XML/LIB_XML/Schemas/CommonServices/Data/Event/1.0/Fault.xsd">
			</xsd:import>
			<xsd:import namespace="urn://co-opbank.co.ke/CommonServices/TS/BFUB/Data/Message/GetAccountBalance" schemaLocation="../../../../../Schemas/CommonServices/Message/TS/BFUB/GetAccountBalance/GetAccountBalance.xsd">
			</xsd:import>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="GetAccountBalanceRequest">
		<wsdl:part element="svr:GetAccountBalanceRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetAccountBalanceResponse">
		<wsdl:part element="svr:GetAccountBalanceResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="BusinessFault">
		<wsdl:part element="fault:BusinessFault" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="TechnicalFault">
		<wsdl:part element="fault:TechnicalFault" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="ValidationFault">
		<wsdl:part element="fault:ValidationFault" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="Fault">
		<wsdl:part element="fault:Fault" name="parameters"/>
	</wsdl:message>

    <wsdl:portType name="GetAccountBalance">
		<wsdl:operation name="GetAccountBalance">
			<wsdl:input message="tns:GetAccountBalanceRequest"/>
			<wsdl:output message="tns:GetAccountBalanceResponse"/>
			<wsdl:fault message="tns:BusinessFault" name="BusinessFault"/>
			<wsdl:fault message="tns:TechnicalFault" name="TechnicalFault"/>
			<wsdl:fault message="tns:ValidationFault" name="ValidationFault"/>
			<wsdl:fault message="tns:Fault" name="Fault"/>
		</wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
